{% block navbar %}
    <div class="navbar {{ (navbar.hasOption('fixedTop') and  navbar.getOption('fixedTop')) ? 'navbar-fixed-top' : '' }}">
        <div class="navbar-inner">
            <div class="container{{ (navbar.hasOption('isFluid') and navbar.getOption('isFluid')) ? '-fluid' : '' }}">
                <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </a>
                {% if navbar.hasOption('title') %}<a class="brand da-title" href="{{ path(navbar.getOption('titleRoute')) }}" alt="{{ navbar.getOption('title') }}">{{ navbar.getOption('title') }}</a>{% endif %}
                {% if is_expr_granted('isAuthenticated()') %}
                    {{ navbar.hasMenu('leftmenu') ? knp_menu_render(navbar.getMenu('leftmenu'), {'currentClass': 'active', 'ancestorClass': 'active', 'allow_safe_labels': 'true'}) : '' }}
                    {#{% if navbar.hasFormView('searchform') %}#}
                    {#{%- set form_view = navbar.getFormView('searchform') -%}#}
                    {#{%- set form_type = navbar.getFormType('searchform') -%}#}
                    {#{%- set form_attrs = form_view.vars.attr -%}#}
                    {#{% form_theme form_view _self %}#}
                    {#<form class="navbar-search pull-{{ form_attrs.pull|default('right') }}" method="{{ form_attrs.method|default('post') }}" action="{{ path(navbar.getFormRoute('searchform')) }}">#}
                    {#{{ form_widget(form_view) }}#}
                    {#</form>#}
                    {#{% endif %}#}
                    {#{% include ":Common:langswitcher.html.twig" %}#}
                    <div class="nav-collapse">
                        {{ navbar.hasMenu('rightmenu') ? knp_menu_render(navbar.getMenu('rightmenu'), {'currentClass': 'active', 'ancestorClass': 'active', 'allow_safe_labels': 'true'}) : '' }}
                    </div>
                {% else %}
                    {#$csrfToken = $this->container->get('form.csrf_provider')->generateCsrfToken('authenticate');#}
                    <div class="valigntop">
                        <form id="loginForm" action="{{ path('fos_user_security_check') }}" class="navbar-form pull-right" method="post">
                            <input type="hidden" name="_csrf_token" value="{% render(controller('DacorpCoreBundle:User:getCsrfToken')) %}" />
                            <input type="text" id="username" name="_username" class="span2" placeholder="Username...">
                            <input type="password" id="password" name="_password" class="span2" placeholder="Password...">
                            <input type="submit" name="login" value="Login" class="btn"/>
                        </form>
                    </div>
                {% endif %}
                <div class="nav-collapse">
                    {{ navbar.hasMenu('langmenu') ? knp_menu_render(navbar.getMenu('langmenu'), {'currentClass': 'active', 'ancestorClass': 'active', 'allow_safe_labels': 'true'}) : '' }}
                </div>

            </div>
        </div>
    </div>
{% endblock %}

{% block form_widget %}
    {{ block('field_rows') }}
{% endblock %}

{% block field_row %}
    {{ form_widget(form) }}
{% endblock field_row %}
